/* Custom CSS goes here */
.textarea.form-control
{
    height: auto;
}

h1
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p
{
    text-align: justify;
}

div.container
{
    margin: 8%;
    padding-left: 10px;
}