<div class="container">
    <h1><%= title %></h1>
    <img src="./Assets/images/me-logo.jpeg" alt=""><br><br>
    <p>My name is Yuen Ting Leung, but all my friends and colleagues also call me Kennix. I was born and raised in Hong Kong and just came to Canada last year. I graduated from a bachelor degree in Accountancy and Finance and I am currently a member of CPA Ontario.</p>
    <p>Also, I am studying a diploma of Software Engineering Technician in Centennial College that I believe it would be benefited to my career here.</p>
</div>