<div class="container">
    <h1><%= title %></h1>
    <p>Please feel free to contact me via:</p>
    <ul>
        <li><a href="mailto:yleung33@my.centennialcollege.ca">Email</a></li>
        <li>Mobile: +1 (437) 775-0685</li>
        <li><a href="https://www.linkedin.com/in/kennixleung/">LinkedIn</a></li>
    </ul>
    <h4>Send me a message</h4>
    <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    <a href="/home">Back to Home</a>
</div>