<div class="container">
    <h1><%= title %></h1>
    <p>Please feel free to contact me via:</p>
    <ul>
        <li>Email</li>
        <li>Mobile: +1 (437) 775-0685</li>
        <li><a href="">LinkedIn</a></li>
    </ul>
    <a href="/home">Back to Home</a>
</div>