<div class="container">
    <h1><%= title %></h1>

    <p>Welcome to My Portfolio!</p>
    <p>Here is my personal portfolio website. In this website, you would learn about me more and understand my background.</p>
    
    <h3>Mission Statement</h3>
    <p></p>


    
    <ul>
        <li><a href="/about">About Me</a></li>
        <li><a href="/projects">My Projects</a></li>
        <li><a href="/services">My Services</a></li>
        <li><a href="/contact">Contact Me</a></li>
    </ul>
</div>