<div class="container">
    <h1><%= title %></h1>

    <p>Welcome to My Portfolio!</p><br>
    <p>Here is my personal portfolio website. In this website, you would learn about me more and understand my background.</p>
</div>