<div class="container">
    <h1><%= title %></h1>
    <p>Below are the projects I have done or is currently processing.</p>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Services</th>
                    <th scope="col">Projects</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td><img src="./Assets/images/Current_project.png" alt="" srcset="" width="360" height="240"></td>
                    <td>Current Project - Web Development (Portfolio Website)<br>
                        <br>
                        - My role: Building all contents and design the webpage theme
                        <br><br>
                        - Outcome: Design my own portfolio on web to show all my background and experiences.
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td><img src="./Assets/images/webDev_project.png" alt="" srcset="" width="360" height="240"></td>
                    <td>Past Project - Web Development (Restaurant info with location<br>
                        <br>
                        - My role: Building the login access and showing restaurant information
                        <br><br>
                        - Outcome: 
                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td><img src="./Assets/images/GeneralProg_project.png" alt="" srcset="" width="360" height="240"></td>
                    <td>Past Project - General Programming</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td><img src="./Assets/images/FinancialAnalysis_project.png" alt="" srcset="" width="360" height="240"></td>
                    <td>Past Project - Financial Analysis</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td><img src="./Assets/images/Management_project.png" alt="" srcset="" width="360" height="240"></td>
                    <td>Past Project - Management Reporting</td>
                </tr>
            </tbody>
        </table>
        <a href="/home">Back to Home</a>   
</div>