<div class="container">
    <h1><%= title %></h1>
    I can provide you a list of accounting and IT services.<br><br>
        <ul><img src="./Assets/images/bookkeeping.jpeg" alt="" srcset="" width="200" height="120"> Bookkeeping Service</ul>
        <ul><img src="./Assets/images/accounting.jpeg" alt="" srcset="" width="200" height="120"> Financial Accounting and Reporting</ul>
        <ul><img src="./Assets/images/management.jpeg" alt="" srcset="" width="200" height="120"> Management Accounting and Reporting</ul>
        <ul><img src="./Assets/images/financialanalysis.jpeg" alt="" srcset="" width="200" height="120">Financial Analysis</ul>
        <ul><img src="./Assets/images/program.jpeg" alt="" srcset="" width="200" height="120">General Programming</ul>
        <ul><img src="./Assets/images/webDev.jpeg" alt="" srcset="" width="200" height="120">Website Development</ul>
        <ul><img src="./Assets/images/mobileApp.jpeg" alt="" srcset="" width="200" height="120">Mobile Application Development</ul>
    <a href="/home">Back to Home</a>
</div>