<div class="container">
    <h1><%= title %></h1>
    I can provide you a list of accounting and IT services.<br><br>
    <ul>
        <li> <img src="./Assets/images/bookkeeping.jpeg" alt="" srcset=""> Bookkeeping Service</li>
        <li>Financial Accounting and Reporting</li>
        <li>Management Accounting and Reporting</li>
        <li>Financial Analysis</li>
        <li>General Programming</li>
        <li>Website Development</li>
        <li>Mobile Application Development</li>
    </ul>
    <a href="/home">Back to Home</a>
</div>